name: Slog tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:  
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Journald headers
      run: | 
        sudo apt-get update
        sudo apt-get install libsystemd-dev

    - name: Configure CMake      
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DSLOG_BUILD_TEST=ON -DSLOG_FORMAT_LOG=ON -DSLOG_BINARY_LOG=ON -DSLOG_JOURNALD=ON

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ./test/slogTest
